
.hs-item-properties ul, .hs-item-properties div {
    margin-top: 10px;
}
.hs-item-properties ul ul {
    margin-top: 0;
}
.hs-item-properties ul li {
    margin: 1px 0;
}
.hs-item-properties ul li.bump {
    margin-top: 10px;
}
.hs-item-properties p {
    margin: 0 !important;
}
.hs-item-properties .indent {
    padding-left: 18px;
}
.hs-item-properties .value {
    color: #DED2AB;
}
.hs-item-properties .big .value {
    font-family: "Palatino Linotype","Times",serif;
    font-size: 400%;
    line-height: 100%;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000;
}
.hs-item-properties .item-requirement {
    color: #A99877;
}
.hs-item-properties .hs-color-blue .value {
    color: #BDA6DB !important;
}
.hs-item-properties .hs-color-gold .value {
    color: #FFFFFF !important;
}
.hs-item-properties .item-type, .hs-item-properties .item-type-right {
    margin-top: 0;
}
.hs-item-properties .item-type-right {
    float: right;
    text-align: right;
}
.hs-item-properties .item-type {
    color: #FFFFFF;
}
.hs-item-properties .item-slot {
    color: #909090;
}
.hs-item-properties .item-armor-weapon li {
    color: #909090;
}
.hs-item-properties .item-armor-weapon .value {
    color: #FFFFFF;
}
.hs-item-properties .item-before-effects {
    display: none;
}
.hs-item-properties .item-effects .gem-effect {
    color: #FFFFFF;
}
.hs-item-properties .item-effects-choice {
    margin-bottom: 10px;
}
.hs-tooltip-wrapper {
    background: none repeat scroll 0 0 #1D180E;
    border: 1px solid #322A20;
    border-radius: 2px;
    box-shadow: 0 0 10px #000000;
    max-width: 600px;
    padding: 1px;
    position: absolute;
    z-index: 2147483647;
}
.hs-tooltip-wrapper-inner {
    background: none repeat scroll 0 0 #000000;
}
.hs-tooltip .title, .hs-tooltip .subtitle {
    color: #F3E6D0;
    font-family: "Palatino Linotype","Georgia","Times",serif;
    font-weight: normal;
    margin-bottom: 6px;
}
.hs-tooltip .title {
    font-size: 18px;
}
.hs-tooltip .subtitle {
    font-size: 14px;
    text-transform: uppercase;
}
.hs-tooltip .special {
    color: #555555;
    font-size: 12px;
}
.hs-tooltip .subtle {
    color: #7B6D55;
    display: block;
}
.hs-tooltip .subtle em {
    color: #AD835A;
    font-style: normal;
    font-weight: bold;
}
.hs-tooltip .flavor {
    color: #AD835A;
    font-family: "Palatino Linotype","Times",serif;
    font-size: 16px;
    font-style: italic;
}
.hs-tooltip .tip {
    border-bottom: 0 none;
}
.hs-tooltip p {
    margin: 5px 0 0;
}
.hs-tooltip p:first-child {
    margin-top: 0;
}
.hs-tooltip .loading {
    background: url("http://www.hsdeck.com/images/loaders/default.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 32px;
    width: 32px;
}
.hs-tooltip .wip {
    color: #A99877;
    font-family: "Palatino Linotype","Georgia","Times",serif;
    font-size: 28px;
    left: 0;
    line-height: 100%;
    opacity: 0.25;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 33%;
    width: 350px;
    z-index: 2;
}
.hs-tooltip {
    color: #C7B377;
    font: 12px/1.5 Arial,sans-serif;
    padding: 2px;
    text-align: left;
}
.hs-tooltip * {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}
.hs-tooltip ul {
    list-style-type: none;
}
.hs-tooltip .value {
    color: #FFFFFF;
}
.hs-tooltip .tooltip-head {
    height: 40px;
    padding: 0 15px;
    width: 320px;
}
.hs-tooltip .tooltip-head h3 {
    color: #F3E6D0;
    font: 22px/37px "Palatino Linotype","Times",serif;
    height: 40px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}
.hs-tooltip .tooltip-head h3.smaller {
    font-size: 18px;
    line-height: 40px;
}
.hs-tooltip .tooltip-head h3.smallest {
    font-size: 14px;
    line-height: 42px;
}
.hs-tooltip .tooltip-head .deck-title {
    display: inline-block;
    font: 22px/37px "Palatino Linotype","Times",serif;
    height: 40px;
    overflow: hidden;
    padding-left: 10px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    width: auto;
}
.hs-tooltip .tooltip-head-gray, .hs-tooltip .tooltip-head-white {
    background-position: 0 -40px;
}
.hs-tooltip .tooltip-head-blue {
    background-position: 0 -80px;
}
.hs-tooltip .tooltip-head-yellow {
    background-position: 0 -120px;
}
.hs-tooltip .tooltip-head-orange {
    background-position: 0 -160px;
}
.hs-tooltip .tooltip-head-purple {
    background-position: 0 -200px;
}
.hs-tooltip .tooltip-head-green {
    background-position: 0 -240px;
}
.hs-tooltip .tooltip-body {
    padding: 10px;
    position: relative;
}
.hs-tooltip .tooltip-extension {
    border-top: 2px solid #322A20;
    margin: 10px -2px 0;
    padding: 10px 12px;
}
.hs-tooltip .tooltip-extension.rune-extension {
    min-height: 52px;
    padding-left: 87px;
    position: relative;
}
.hs-tooltip .tooltip-extension.rune-extension .hs-icon-rune {
    left: 20px;
    position: absolute;
    top: 10px;
}
.hs-tooltip-item .hs-icon-item {
    float: left;
    margin-bottom: 11px;
    margin-right: 10px;
}
.hs-tooltip-item .item-armor-weapon {
    clear: right;
}
.hs-tooltip-item .item-before-effects {
    clear: both;
    display: block !important;
}
.hs-tooltip-item .item-description {
    margin-top: 10px;
}
.hs-tooltip-item .item-itemset {
    font-size: 12px;
}
.hs-tooltip-item .item-reqlevel {
    float: right;
}
.hs-tooltip-skill .tooltip-body {
    padding-left: 85px;
}
.hs-tooltip-skill .hs-icon-skill {
    left: 10px;
    position: absolute;
    top: 10px;
}
.hs-tooltip-deck .tooltip-body {
    padding-left: 10px;
}
.hs-tooltip-deck .deck-description {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 10px;
    line-height: 10px;
}
.hs-tooltip-deck .deck-description tbody tr:nth-of-type(2n+1) {
    background-color: #070707;
}
.hs-tooltip-deck .deck-description tbody tr td {
    padding: 3px;
}
.hs-tooltip-deck .card-title {
    font-size: 12px;
    line-height: 12px;
}
.hs-tooltip-deck .card-desc {
    color: #555555;
    font-size: 10px;
}
.hs-tooltip-deck .hs-mana-deck, .hs-tooltip-deck .hs-attack-deck, .hs-tooltip-deck .hs-health-deck {
    color: #FFBA00;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0 5px 0 17px;
}
.hs-tooltip-deck .card-count-1 {
    color: #AAAAAA;
    font-size: 12px;
}
.hs-tooltip-deck .card-count-2 {
    color: #1EFF00;
    font-size: 12px;
}
.hs-icon {
    background: none no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 1px;
    overflow: hidden;
}
.hs-icon-item, .hs-icon-skill {
    box-shadow: 0 0 5px #000000;
}
.hs-icon-item {
    background: none no-repeat scroll left top rgba(0, 0, 0, 0);
    border: 1px solid #000000;
    border-radius: 2px;
}
.hs-icon-item .icon-item-inner {
    background: none no-repeat scroll center center rgba(0, 0, 0, 0);
    border: 1px solid #000000;
    display: block;
    font-size: 1px;
    line-height: normal;
    overflow: hidden;
    text-align: center;
}
a:hover .hs-icon-item, .hover .hs-icon-item, .icon-active .hs-icon-item {
    background-position: left -128px;
}
.hs-icon-item-large .icon-item-default {
    height: 128px;
    width: 64px;
}
.hs-icon-item-large .icon-item-square {
    height: 64px;
    width: 64px;
}
.hs-icon-item-large .icon-item-big {
    height: 164px;
    width: 82px;
}
.hs-icon-item-small .icon-item-default {
    height: 64px;
    width: 32px;
}
.hs-icon-item-small .icon-item-square {
    height: 32px;
    width: 32px;
}
.hs-icon-item-small .icon-item-big {
    height: 82px;
    width: 41px;
}
.hs-icon-item-32 .icon-item-default, .hs-icon-item-32 .icon-item-square, .hs-icon-item-32 .icon-item-big {
    height: 32px;
    width: 32px;
}
.hs-icon-item-64 .icon-item-default, .hs-icon-item-64 .icon-item-square, .hs-icon-item-64 .icon-item-big {
    height: 64px;
    width: 64px;
}
.hs-icon-item-white {
    background-image: url("http://www.hsdeck.com/images/item/icon-bgs/white.png");
    border-color: #2D1C0F #382213 #402715 #2D1C0F;
}
a:hover .hs-icon-item-white, .hover .hs-icon-item-white, .icon-active .hs-icon-item-white {
    border-color: #4B2E19;
}
a:hover .hs-icon-item-white, .hover .hs-icon-item-white, .icon-active .hs-icon-item-white {
    background-position: -200px 0;
}
.hs-icon-item-blue {
    background-image: url("http://www.hsdeck.com/images/item/icon-bgs/blue.png");
    border-color: #25536B #2E6786 #357598 #25536B;
}
a:hover .hs-icon-item-blue, .hover .hs-icon-item-blue, .icon-active .hs-icon-item-blue {
    border-color: #3E8AB3;
}
.hs-icon-item-yellow {
    background-image: url("http://www.hsdeck.com/images/item/icon-bgs/yellow.png");
    border-color: #6B650F #867E13 #988F15 #6B650F;
}
a:hover .hs-icon-item-yellow, .hover .hs-icon-item-yellow, .icon-active .hs-icon-item-yellow {
    border-color: #B3A819;
}
.hs-icon-item-orange {
    background-image: url("http://www.hsdeck.com/images/item/icon-bgs/orange.png");
    border-color: #733C1C #8F4B23 #A35528 #733C1C;
}
.hs-icon-item-green {
    background-image: url("http://www.hsdeck.com/images/item/icon-bgs/green.png");
    border-color: #297D14 #349C19 #3BB11C #297D14;
}
a:hover .hs-icon-item-green, .hover .hs-icon-item-green, .icon-active .hs-icon-item-green {
    border-color: #00D900;
}
.hs-icon-item-purple {
    background-image: url("http://www.hsdeck.com/images/item/icon-bgs/purple.png");
    border-color: #5B2882 #7232A3 #8139B9 #5B2882;
}
a:hover .hs-icon-item-purple, .hover .hs-icon-item-purple, .icon-active .hs-icon-item-purple {
    border-color: #9843D9;
}
.hs-icon-skill {
}
.hs-icon-skill .frame {
    background: none no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
}
.hs-icon-skill-21, .hs-icon-skill-21 .frame {
    height: 21px;
    width: 21px;
}
.hs-icon-skill-42, .hs-icon-skill-42 .frame {
    height: 42px;
    width: 42px;
}
.hs-icon-skill-64, .hs-icon-skill-64 .frame {
    height: 64px;
    width: 64px;
}
.hs-icon-skill-21 .frame {
    background-image: url("http://www.hsdeck.com/images/icons/frames/skill-21.png");
}
.hs-icon-skill-42 .frame {
    background-image: url("http://www.hsdeck.com/images/icons/frames/skill-42.png");
}
.hs-icon-skill-64 .frame {
    background-image: url("http://www.hsdeck.com/images/icons/frames/skill-64.png");
}
.hs-icon-skill.selected .frame {
    background-position: right top;
}
a:hover .hs-icon-skill .frame, .hover .hs-icon-skill .frame {
    background-position: left bottom;
}
a:hover .hs-icon-skill.selected .frame, .hover .hs-icon-skill.selected .frame {
    background-position: right bottom;
}
a.disabled:hover .hs-icon-skill .frame, .disabled.hover .hs-icon-skill .frame {
    background-position: left top !important;
}
a.disabled:hover .hs-icon-skill.selected .frame, .disabled.hover .hs-icon-skill.selected .frame {
    background-position: right top !important;
}
.hs-icon-trait {
}
.hs-icon-trait .frame {
    background: none no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
}
.hs-icon-trait-21, .hs-icon-trait-21 .frame {
    height: 25px !important;
    width: 25px !important;
}
.hs-icon-trait-42, .hs-icon-trait-42 .frame {
    height: 51px !important;
    width: 51px !important;
}
.hs-icon-trait-64, .hs-icon-trait-64 .frame {
    height: 81px !important;
    width: 81px !important;
}
.hs-icon-trait-21 .frame {
    background-image: url("http://www.hsdeck.com/images/icons/frames/trait-21.png");
}
.hs-icon-trait-42 .frame {
    background-image: url("http://www.hsdeck.com/images/icons/frames/trait-42.png");
}
.hs-icon-trait-64 .frame {
    background-image: url("http://www.hsdeck.com/images/icons/frames/trait-64.png");
}
.hs-icon-trait.selected .frame {
    background-position: right top;
}
a:hover .hs-icon-trait .frame, .hover .hs-icon-trait .frame {
    background-position: left bottom;
}
a:hover .hs-icon-trait.selected .frame, .hover .hs-icon-trait.selected .frame {
    background-position: right bottom;
}
a.disabled:hover .hs-icon-trait .frame, .disabled.hover .hs-icon-trait .frame {
    background-position: left top !important;
}
a.disabled:hover .hs-icon-trait.selected .frame, .disabled.hover .hs-icon-trait.selected .frame {
    background-position: right top !important;
}
.hs-color-default, .hs-color-default a {
    color: #FFFFFF !important;
}
.hs-color-blue, .hs-color-blue a {
    color: #0070DD !important;
}
.hs-color-gray, .hs-color-gray a {
    color: #909090 !important;
}
.hs-color-gold, .hs-color-gold a {
    color: #C7B377 !important;
}
.hs-color-green, .hs-color-green a {
    color: #1EFF00 !important;
}
.hs-color-orange, .hs-color-orange a {
    color: #FFBA00 !important;
}
.hs-color-purple, .hs-color-purple a {
    color: #A335EE !important;
}
.hs-color-red, .hs-color-red a {
    color: #FF0000 !important;
}
.hs-color-white, .hs-color-white a {
    color: #FFFFFF !important;
}
.hs-color-yellow, .hs-color-yellow a {
    color: #FFFF00 !important;
}
a.hs-color-blue:hover, .hs-color-blue a:hover, a:hover .hs-color-blue, a.hs-color-gray:hover, .hs-color-gray a:hover, a:hover .hs-color-gray, a.hs-color-gold:hover, .hs-color-gold a:hover, a:hover .hs-color-gold, a.hs-color-green:hover, .hs-color-green a:hover, a:hover .hs-color-green, a.hs-color-orange:hover, .hs-color-orange a:hover, a:hover .hs-color-orange, a.hs-color-purple:hover, .hs-color-purple a:hover, a:hover .hs-color-purple, a.hs-color-red:hover, .hs-color-red a:hover, a:hover .hs-color-red, a.hs-color-white:hover, .hs-color-white a:hover, a:hover .hs-color-white, a.hs-color-yellow:hover, .hs-color-yellow a:hover a:hover .hs-color-yellow {
    color: #FFFFFF !important;
}
.hs-debug {
    display: none;
}
.tooltip-icon-bullet {
    background: url("http://www.hsdeck.com/images/icons/bullet.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 8px;
    margin-right: 2px;
    vertical-align: middle;
    width: 8px;
}
.hsclass {
    font-size: 12px;
}
.hsclass.warrior {
    color: #C69B6D !important;
}
.hsclass.paladin {
    color: #F48CBA !important;
}
.hsclass.hunter {
    color: #AAD372 !important;
}
.hsclass.rogue {
    color: #FFF468 !important;
}
.hsclass.priest {
    color: #F0EBE0 !important;
}
.hsclass.shaman {
    color: #2359FF !important;
}
.hsclass.mage {
    color: #68CCEF !important;
}
.hsclass.warlock {
    color: #9382C9 !important;
}
.hsclass.druid {
    color: #FF7C0A !important;
}
.hsclass.neutral {
    color: #999999 !important;
}
.cq0, .quality.basic {
    color: #9D9D9D !important;
}
.cq1, .quality.common {
    color: #FFFFFF !important;
}
.cq2, .quality.rare {
    color: #0070DD !important;
}
.cq3, .quality.epic {
    color: #A335EE !important;
}
.cq4, .quality.legendary {
    color: #FF8000 !important;
}
.hs-card-class-info {
    margin-bottom: 10px;
}
.hs-card-type {
    color: #FFFFFF;
    float: right;
}
.hs-mana {
    color: #0070DD !important;
    font-size: 18px;
    font-weight: bold;
}
.hs-attack {
    color: #FFBA00 !important;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}
.hs-health {
    color: #FF0000 !important;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}
.hs-icon-small {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    left: 0;
    padding-left: 4px;
    padding-top: 4px;
    position: relative;
    top: 0;
    width: 18px;
    z-index: 20;
}
.hs-icon-small-border {
    background: url("http://www.hsdeck.com/images/default_icon_border_small.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 26px;
    left: 0;
    position: absolute;
    top: 0;
    width: 26px;
    z-index: 2;
}
.hs-tt-sprite-16 {
    background: url("http://www.hsdeck.com/images/sprites/sprite16px.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-right: 20px;
    padding-left: 20px;
    width: 16px;
    z-index: 2;
}
.hs-tt-sprite-16.attack {
    background-position: 0 0;
}
.hs-tt-sprite-16.health {
    background-position: 0 -16px;
}
.hs-tt-sprite-16.mana {
    background-position: 0 -32px;
}
.hs-tt-sprite-16.weapon-attack {
    background-position: 0 -48px;
}
.hs-tt-sprite-16.durability {
    background-position: 0 -64px;
}
.hs-tt-sprite-16.armor {
    background-position: 0 -80px;
}
.hs-tt-hero-class-32 {
    background: url("http://www.hsdeck.com/images/classes/heroes-32px.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #7F6212;
    display: inline-block;
    height: 32px;
    margin: 0;
    padding: 0;
    width: 32px;
    z-index: 2;
}
.hs-tt-hero-class-32.druid {
    background-position: 0 -32px;
}
.hs-tt-hero-class-32.hunter {
    background-position: 0 -64px;
}
.hs-tt-hero-class-32.mage {
    background-position: 0 -96px;
}
.hs-tt-hero-class-32.paladin {
    background-position: 0 -128px;
}
.hs-tt-hero-class-32.priest {
    background-position: 0 -160px;
}
.hs-tt-hero-class-32.rogue {
    background-position: 0 -192px;
}
.hs-tt-hero-class-32.shaman {
    background-position: 0 -224px;
}
.hs-tt-hero-class-32.warlock {
    background-position: 0 -256px;
}
.hs-tt-hero-class-32.warrior {
    background-position: 0 -288px;
}
